<app-header>
</app-header>
<section class="indx-slidr-sec">
	<div class="indx-slidr-img bg1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 px-0">
					<div class="indx-slidr-txt">
					    <img class="topBannerImg" src="{{imageUrl}}{{pageData?.banner_image}}" alt=""> 
					    <label class="homeBannerText">
					    	<div [innerHTML]="pageData?.banner_text"></div>
					    </label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--section class="indx-slidr-sec">
	<owl-carousel-o [options]="customOptions">
		<ng-template carouselSlide>
			<div class="indx-slidr-img bg1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 px-0">
							<div class="indx-slidr-txt">
							    <img src="assets/img/header-bnr12.jpg" alt=""> 
                                <div class="indx-slidr-cnt">
								    <h1>Buttercup Insurance</h1>    
								    <h4>Coverage for those who need it!</h4>    
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template> 
		<ng-template carouselSlide>
			<div class="indx-slidr-img bg1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 px-0">
							<div class="indx-slidr-txt">
							    <img src="assets/img/header-bnr13.jpg" alt=""> 
                                <div class="indx-slidr-cnt">
								    <h1>Buttercup Insurance</h1>    
								    <h4>Coverage for those who need it!</h4>    
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template> 
		<ng-template carouselSlide>
			<div class="indx-slidr-img bg1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 px-0">
							<div class="indx-slidr-txt">
							    <img src="assets/img/header-bnr14.jpg" alt=""> 
                                <div class="indx-slidr-cnt">
								    <h1>Buttercup Insurance</h1>    
								    <h4>Coverage for those who need it!</h4>    
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template> 
	</owl-carousel-o>
</section-->				
<section class="indx-insurce-sec pots-tr">
	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 d-flex flex-wrap align-items-center">
			<div class="insurce-scl-txt" style="position:relative ;width:100%"> 
			    <div class="ins-mn-hed" style="width:100%">
					<h4>Quote</h4>
					<h1>Get an Insurance</h1>
				</div>
						<div class="ins-mn-tb" style="width:100%">
				<owl-carousel-o [options]="customOptions">
				    <ng-template carouselSlide>
	                    <div class="ul-list">				
							<div class="lsiy-div"><span><img src="assets/img/icon1.png" alt=""></span><a href="javascript:void(0)">Life</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon2.png" alt=""></span> <a href="javascript:void(0)">Illness</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon3.png" alt=""></span> <a href="javascript:void(0)">Disability</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon4.png" alt=""></span><a href="javascript:void(0)"> Senior</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon5.png" alt=""></span><a href="javascript:void(0)"> Accident</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon6.png" alt=""></span><a href="javascript:void(0)"> Property   Casuality</a></div> 
					    </div> 
					</ng-template> 
				    <ng-template carouselSlide>
	                    <div class="ul-list">				
							<div class="lsiy-div"><span><img src="assets/img/icon1.png" alt=""></span><a href="javascript:void(0)">Life</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon2.png" alt=""></span> <a href="javascript:void(0)">Illness</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon3.png" alt=""></span> <a href="javascript:void(0)">Disability</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon4.png" alt=""></span><a href="javascript:void(0)"> Senior</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon5.png" alt=""></span><a href="javascript:void(0)"> Accident</a></div> 
							<div class="lsiy-div"><span><img src="assets/img/icon6.png" alt=""></span><a href="javascript:void(0)"> Property  <br> Casuality</a></div> 
					    </div> 
					</ng-template>  	
				</owl-carousel-o>				
						</div> 
			</div>
		</div>
		<div class="col-lg-6">
			<div class="insurce-scl-img">
			    <img src="assets/img/1.jpg" alt="">
			</div>
		</div>
	</div>
	</div>
</section>		
<section class="indx-ofr-sec new-ds-sit">
	<span class="img-shades"><img src="assets/img/shade2.jpg"> </span>   
	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 px-0">
		<div class="self-srvce-sec">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 px-0 order-2 order-sm-2 order-md-1 order-lg-1">
				<div class="ofr-mn-img">
					<img src="assets/img/4.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 px-0 d-flex flex-wrap align-items-center order-1 order-sm-1 order-md-2 order-lg-2">
				<div class="ofr-mn-cont left-sde">
					<h3>Self Service</h3>
					<p>Lorem ipsum dolor sit amet, et enim lorem ac, odio eget vitae quis wisi sodales. Non sed amet donec urna sem. Sed in eget dis magna cursus fringilla, penatibus feugiat tincidunt dui in bibendum morbi. Vitae adipiscing facilisis integer enim, curae odio fermentum lectus sed. Scelerisque lorem velit, gravida sit lectus placerat tincidunt.</p>
					<p>Interdum eleifend neque amet in, tincidunt a quam mauris, purus in, viverra sagittis ante rutrum, nisl eu eleifend diam vel. Quis eros fusce scelerisque suscipit aenean, in vestibulum placerat. Risus egestas, magna tortor</p>
					<a href="{{pageData?.self_url}}" target="_BLANK">
						<i class="fa fa-chain-broken" aria-hidden="true"></i> 
						{{pageData?.self_url}}
					</a>
				</div>
			</div>
		</div>
		</div>
		</div>
	
		<div class="col-lg-12 px-0">
		<div class="disability-csulty">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 px-0 d-flex flex-wrap align-items-center">
				<div class="ofr-mn-cont right-sde">
					<h3>Disability</h3>
					<p>Lorem ipsum dolor sit amet, et enim lorem ac, odio eget vitae quis wisi sodales. Non sed amet donec urna sem. Sed in eget dis magna cursus fringilla, penatibus feugiat tincidunt dui in bibendum morbi. Vitae adipiscing facilisis integer enim, curae odio fermentum lectus sed. Scelerisque lorem velit, gravida sit lectus placerat tincidunt.</p>
					<p>Interdum eleifend neque amet in, tincidunt a quam mauris, purus in, viverra sagittis ante rutrum, nisl eu eleifend diam vel. Quis eros fusce scelerisque suscipit aenean, in vestibulum placerat. Risus egestas, magna tortor</p>
					<a href="{{pageData?.disability_url}}" target="_BLANK">
						<i class="fa fa-chain-broken" aria-hidden="true"></i> {{pageData?.disability_url}}</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 px-0">
				<div class="ofr-mn-img">
					<img src="assets/img/3.jpg" alt="">
				</div>
			</div>
		</div>
		</div>
		</div>

		<div class="col-lg-12 px-0">
		<div class="prprty-csulty">
		<div class="col-lg-12 pt-5">
		<div class="buttercup">
		<div class="row">
			<div class="col-lg-12">
				<div class="ofr-mn-hed">
					<h4>Buttercup Insurance</h4>
					<h1>What We Offer</h1>
				</div>
			</div>
		</div>
		</div>
		</div>		
		<div class="row mx-0">
			<div class="col-lg-6 col-md-6 px-0 order-2 order-sm-2 order-md-1 order-lg-1">
				<div class="ofr-mn-img">
					<img src="assets/img/2.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 px-0 d-flex flex-wrap align-items-center order-1 order-sm-1 order-md-2 order-lg-2">
				<div class="ofr-mn-cont left-sde">
					<h3>Property And Casuality</h3>
					<p>Lorem ipsum dolor sit amet, et enim lorem ac, odio eget vitae quis wisi sodales. Non sed amet donec urna sem. Sed in eget dis magna cursus fringilla, penatibus feugiat tincidunt dui in bibendum morbi. Vitae adipiscing facilisis integer enim, curae odio fermentum lectus sed. Scelerisque lorem velit, gravida sit lectus placerat tincidunt.</p>
					<p>Interdum eleifend neque amet in, tincidunt a quam mauris, purus in, viverra sagittis ante rutrum, nisl eu eleifend diam vel. Quis eros fusce scelerisque suscipit aenean, in vestibulum placerat. Risus egestas, magna tortor</p>
					<a href="{{pageData?.casuality_url}}" target="_BLANK">
						<i class="fa fa-chain-broken" aria-hidden="true"></i> {{pageData?.casuality_url}}</a>
				</div>
			</div>
		</div>
		</div>
		</div>


	</div>
	</div>
</section>

<app-footer>
</app-footer>